{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiskunde</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
</head>

<body>

<header>
    <div class="container">
        <div class="header__inner">
            <div class="logo">
                <a href="#" class="logo">
                    <img src="../static/images/logo_item.png" alt="">
                </a>
                <a href="#" class="logo__name">Wiskunde</a>
            </div>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="/contacts" class="menu__link">СВЯЗАТЬСЯ</a>
                    </li>
                    <li class="menu__item">
                        <a href="/us_info" class="menu__link">О НАС</a>
                    </li>
                    <li class="menu__item"><a href="#" class="menu__link">ВХОД</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
{{block "content" .}}
{{end}}
<footer class="footer">
    <div class="footer__inner">
    </div>
</footer>
</body>
</html>
{{end}}